@{    
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Data Page";
    var data = new PowerGridDBEntities();
}
<div>   
    <h2>Список Шин Підстанції </h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Напруга</th>
                <th>Назва</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Bus bus in data.Buses)
            {
                <tr>
                    <td>@bus.Id</td>
                    <td>@bus.Voltage.ToString()</td>
                    <td>@bus.Name</td>                    
                </tr>
            }
        </tbody>
    </table>

    
</div>

