@{    
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Data Page";
    var data = new PowerGridDBEntities();
}
<div>   
    <h2>Список Шин Підстанції </h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Напруга</th>
                <th>Назва</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Bus bus in data.Buses)
            {
                <tr>
                    <td><a href="~/BusDeletePage?id=@bus.Id">Видалити</a></td>
                    <td>@bus.Id</td>
                    <td>@string.Format("{0:0.0#} кВ", bus.Voltage/1000.0)</td>
                    <td>@bus.Name</td>                            
                </tr>
            }           
        </tbody>
    </table>   
    <div><a href="\BusAddPage">Додати</a></div>
</div>

