@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Довідкова Інформація";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>            
        </hgroup>
        <p>
            Довідкові матеріали з <mark>програмування</mark> інтернет сторінки ASP.NET
            <a href="http://asp.net/webpages" title="ASP.NET Web Pages Website">http://asp.net/webpages</a>.
        </p>
    </div>
</section>
}

<h3>Рекомендовані посилання:</h3>

<ol class="round">
    <li class="one">
        <h5>Основи програмування</h5>
        ASP.NET Web Pages та синтаксис Razor.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Перейти…</a>
    </li>

    <li class="two">
        <h5>NuGet архіви</h5>
        Керування наповненням проекту NuGet 
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Перейти…</a>
    </li>

    <li class="three">
        <h5>Довідкова інформація з програмування HTML</h5>
        <a href="https://www.w3schools.com">w3schools.com</a>
    </li>
</ol>